body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;

}

.App {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.8rem;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  

}

textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 4px;
  margin-bottom: 2rrem;
}

output {
  background-color:aqua;
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
  color: aqua;
}

p {
  font-size: 1.8rem;
  color: #333333;
  word-wrap: break-word;
}